@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --background: 255, 255, 255;
    --foreground: 0, 0, 0;

    --primary: ;
    --secondary: ;

    --button-primary: ;
    --button-secondary: ;

    --card: ;
    --cta: ;

    --text-primary: ;
    --text-secondary: ;

    --border: ;

    background: rgba(var(--background));
    color: rgb(var(--text-primary));
}

.dark {
    --background: 0, 0, 0;
    --foreground: 255, 255, 255;

    --primary: ;
    --secondary: ;

    --button-primary: ;
    --button-secondary: ;

    --card: ;
    --cta: ;

    --text-primary: 255, 255, 255;
    --text-secondary: 0, 0, 0;

    --border: ;

    background: rgba(var(--background));
    color: rgb(var(--text-primary));
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
    color: rgb(var(--text-primary));
    background-color: rgba(var(--background));
}
